{
    "source": {
        "directories": [
            "src/"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "badge": {
            "branch": "/^\\d+\\.\\d+\\.x$/"
        }
    },
    "timeout": 10,
    "minMsi": 75,
    "minCoveredMsi": 95
}
